.elevator {
  position: absolute;
  bottom: calc((var(--current-floor) - 1) * 3rem);
  left: 1px;
  background: white;
  border-radius: calc(0.5rem - 2px);
  width: calc(100% - 2px);
  height: calc(3rem - 2px);

  display: grid;
  place-items: center;
  transition: bottom 0.5s linear;

  box-shadow:
    1px 1px 2px hsl(240deg 10% 10% / 0.2),
    2px 2px 4px hsl(240deg 10% 10% / 0.2),
    3px 3px 8px hsl(240deg 10% 10% / 0.2);
}

.elevator--moving {
  color: red;
  border-color: red;
}