.container {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  place-content: center;
  gap: 1rem;
  padding: 4rem;
}