.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  place-content: center;
  gap: 1rem;
  padding: 4rem;
  max-width: 36rem;
}

.elevator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: hsl(240deg 0% 95%);
}