.elevator {
  position: absolute;
  bottom: calc((var(--current-floor) - 1) * 3rem);
  left: 1px;
  border: 2px solid black;
  width: calc(100% - 2px);
  height: calc(3rem - 2px);

  display: grid;
  place-items: center;
  transition: bottom 0.2s;
}

.elevator--moving {
  color: red;
  border-color: red;
}